.dispositivo-div {
  margin-left: 3px;
}

.dispositivo-div span {
  font-style: italic;
}

.ip-span {
  font-style: italic;
  position: relative;
  left: 75px;
  color: #555;
}

.button-editar-dispositivo {
  display: none;
  position: relative;
  text-align: center;
  left: 120px;
  top: 1px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(220, 220, 220, 0);
  border-style: hidden;
  color: #333;
  font-size: 15px;
}
.button-eliminar-dispositivo img {
  filter: invert(40%);
  width: 13px;
}

.button-eliminar-dispositivo {
  display: none;
  position: relative;
  text-align: center;
  left: 130px;
  top: 1px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(220, 220, 220, 0);
  border-style: hidden;
  color: #333;
  font-size: 15px;
}

.button-editar-dispositivo img {
  filter: invert(40%);
  width: 12px;
}

.dispositivo-div:hover .button-eliminar-dispositivo {
  display: inline;
}

.dispositivo-div:hover .button-editar-dispositivo {
  display: inline;
}

.distr-span {
  user-select: none;
  font-style: italic;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.distr-div {
  margin-left: 7px;
  margin-right: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 45.2px;
  border-radius: 12.7px;
}

.distr-div :hover {
  cursor: pointer;
}
